<h3 style="text-align:center; margin: 20px">
    Books List</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Year</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year_published}}</td>
            <td>{{book.rating}}</td>
            <td>{{book.price}}</td>
            <td>
                <span (click)='edit(book)' class="action">&#x270f;</span>
                <span (click)='delete(book)' class="action">X</span>
            </td>

        </tr>

    </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="add()">Add Book</button>

<form *ngIf='action !== undefined' novalidate (ngSubmit)="onSubmit(bookForm)" [formGroup]="bookForm" id="newBookForm">

    <div [ngSwitch]="action">
        <div *ngSwitchCase="'edit'">
            <h3>Edit Book</h3>
            <label>
                <span>ID</span>
                <input type="text" disabled="true" formControlName="id">
            </label>
        </div>
        <h3 *ngSwitchCase="'add'"> Add New Book </h3>
    </div>

    <label>
        <span>Title</span>
        <input type="text" placeholder="Book Title" formControlName="title">
      </label>
    <div class="error" *ngIf="bookForm.get('title').touched && bookForm.get('title').hasError('required')">
        Field required
    </div>
    <div class="error" *ngIf="bookForm.get('title').touched && bookForm.get('title').hasError('minlength')">
        Minimum of 5 characters
    </div>

    <label>
        <span>Author</span>
        <input type="text" placeholder="Author" formControlName="author">
      </label>
    <div class="error" *ngIf="bookForm.get('author').touched && bookForm.get('author').hasError('required')">
        Field required
    </div>
    <div class="error" *ngIf="bookForm.get('author').touched && bookForm.get('author').hasError('minlength')">
        Minimum of 5 characters
    </div>

    <label>
        <span>Year Published</span>
        <input type="text" placeholder="Year Published" formControlName="year_published">
      </label>
    <div class="error" *ngIf="bookForm.get('year_published').touched && bookForm.get('year_published').hasError('required')">
        Field required
    </div>
    <div class="error" *ngIf="bookForm.get('year_published').touched && bookForm.get('year_published').hasError('pattern')">
        Must be a year
    </div>

    <label>
        <span>Rating</span>
        <input type="text" placeholder="Rating" formControlName="rating">
      </label>
    <div class="error" *ngIf="bookForm.get('rating').touched && bookForm.get('rating').hasError('required')">
        Field required
    </div>
    <div class="error" *ngIf="bookForm.get('rating').touched && bookForm.get('rating').hasError('pattern')">
        Must be a correct number
    </div>


    <label>
        <span>Price</span>
        <input type="text" placeholder="Price" formControlName="price">
      </label>
    <div class="error" *ngIf="bookForm.get('price').touched && bookForm.get('price').hasError('required')">
        Field required
    </div>
    <div class="error" *ngIf="bookForm.get('price').touched && bookForm.get('price').hasError('pattern')">
        Must be a correct number
    </div>


    <div class="row">
        <div class="col-6" style="text-align: center">
            <button type="submit" [disabled]="bookForm.invalid" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-6" style="text-align: center">
            <button type="reset" class="btn btn-secondary" (click)="action= undefined">Cancel</button>
        </div>
    </div>

</form>