
<h3 style="text-align:center; margin: 20px">Books List</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Year</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year_published}}</td>
            <td>{{book.rating}}</td>
            <td>{{book.price}}</td>
            <td>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>

        </tr>

    </tbody>
</table>